@charset "UTF-8";

body {
	background-color: #222222;
	color: #c2bcbc;
	font-weight: normal;
	font-family: sans-serif;
	background-image: url("/betaonline/img/bg.gif");
  	background-repeat: repeat;
}

topbar {
	background-image: url("/betaonline/img/bg_top.png");
  	background-repeat: repeat;
}

content {
	float: right;
	font-size: 20px;
}
