@charset "UTF-8";

body {
	background-color: #222222;
	color: #c2bcbc;
	font-weight: normal;
	font-family: sans-serif;
	background-image: url("/img/newbg.gif");
	background-repeat: no-repeat;
	background-attachment: fixed; 
  	background-size: 100% 100%;
}

h1 {
  font-size: 60px;
}


div#page {
  /*border:1px solid purple;*/
  width:1000px;
  margin:0 auto;
  padding:5px;
  text-align:left;
  font-size: 11px;
  position:relative;
}

div {
  text-align:left;
}

div#navigation {
  border:1px solid grey;
  width:995px;
  height:15px;
  text-align:center;
  background: rgba(42, 43, 46, 0.8);
}

div#leftmenu {
  border:1px solid grey;
  width:150px;
  float:left;
  margin:10px 0 10px 5px;
  height:600px;
  background: rgba(42, 43, 46, 0.8);
}

div#content {
  border:1px solid grey;
  width:650px;
  margin:10px 0 10px 175px;
  min-height:500px;
  height:600px;
  background-color: #2a2b2e;
}

div#rightmenu {
  position:absolute;
  top:140px;
  right:10px;
  border:1px solid grey;
  width:150px;
  margin:0;
  height:600px;
  text-align:center;
  background: rgba(42, 43, 46, 0.8);
}

a:link {
	color: #aaf;
}

a:hover {
	color: #fff;
}

a:visited {
	color: #aaa;
}

a:active {
	color: #ff0;
}
