@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    background-color: rgba(20, 20, 20, 0.8); 
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.logo img {
    max-width: 110px; 
    max-height: 110px; 
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
    text-shadow: 2px 2px 4px #000, -1px -1px 1px black;
}

.logo img:hover {
    transform: scale(1.1); 
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #444;
    margin: 0 15px;
}

.divider-below {
    width: 50%;
    height: 2px;
    background-color: #333;
    margin: 10px auto; 
    border-radius: 5px; 
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.video-container iframe {
    max-width: 100%;
    text-shadow: 2px 2px 4px #000, -1px -1px 1px black;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 2px; 
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 8px; 
    border-radius: 5px;
    background-color: #444;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-shadow: 2px 2px 4px #000, -1px -1px 1px black;
    transition: transform 0.3s ease-in-out; 
}

.menu li:hover {
    background-color: #555;
    transform: scale(1.05);
    transition: background-color 0.2s, transform 0.2s;
}

.banner {
    text-align: center;
    margin-top: 50px;
}

.mc-text {
    color: rgba(163, 0, 0, 0.9); 
}

.online-text {
    color: rgba(163, 0, 0, 0.9); 
}

html {
    scroll-behavior: smooth;
}

.server-name {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    text-shadow: 2px 2px 4px #000, -1px -1px 1px black;
    animation: fadeInText 1.5s ease-in-out;
}

.server-name {
    transition: transform 0.3s ease-in-out;
}

.server-name:hover {
    transform: scale(1.1); 
}

.server-description {
    font-size: 18px;
    color: white;
    margin: 10px 0;
    padding: 20px; /* Adjust padding on mobile */
    text-shadow: 2px 2px 4px #000, -1px -1px 1px black;
    animation: fadeInText 1.5s ease-in-out;
}

.server-description span {
    color: rgba(163, 0, 0, 0.9);
}

@keyframes fadeInText {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px; /* Adjust margin on mobile */
    position: relative;
}

.video-button-container {
    text-align: center;
    margin-top: 10px;
}

.discord-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289DA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.discord-button a {
    text-decoration: none;
    color: #fff;
}

.discord-button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 4px;
    pointer-events: none;
}

.discord-button:hover {
    background-color: #677BC4;
}

.discord-button:hover::before {
    transform: scale(1);
}

footer {
    background-color: rgba(20, 20, 20, 0.8); 
    padding: 5px;
    color: #fff;
    text-align: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    }

.close-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: #fff; 
}

a {
    color: #fff; 
    text-decoration: none;
}

a:hover {
    color: #fff; 
    text-decoration: none; 
}

.not-found-container {
    text-align: center;
    margin-top: 50px;
}

.donate-content {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.donate-content h2 {
    font-size: 28px;
}

.donate-content h2 span {
    color: rgba(163, 0, 0, 0.9);
}

.donate-content p {
    font-size: 18px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    header {
        padding: 5px;
        max-width: 100%;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .logo img {
        max-width: 90px;
        max-height: 90px;
        margin-bottom: 10px;
    }

    .menu li {
        font-size: 14px;
        padding: 2px 5px;
    }

    .server-description {
        padding: 10px;
    }

    .video-container {
        margin-top: 10px;
    }
}
